<nav class="nav">
  <div class="containernav">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}" class="title">{{ site.title }}</a></h1>
    <ul class="navbar">
      <li><a href="{{ '/' | prepend: site.baseurl }}" {% if page.title == "Home" %}class="current"{% endif %}>home</a></li>
      <li><a href="{{ '/projects' | prepend: site.baseurl }}" {% if page.title == "projects" %}class="current"{% endif %}>projects</a></li>
      <li><a href="{{ '/contact' | prepend: site.baseurl }}"  {% if page.title == "contact" %}class="current"{% endif %}>contact</a></li>
    </ul>
  </div>
</nav>
